body {
	color: #000000;
	font-family: Georgia, serif;
	font-size: 14px;
	background-color: #D8E4BE;
	line-height: 1.4em;
}

h1, h2, h3, h4, h5, h6, div.text.heading, div.text.subHeading {
	font-family: Georgia, serif;
	color: #495C53;
	line-height: 1.4em;
}

	h1, div.text.heading {
		background: #ffffff url("images/heading-background.gif") 0px 0px no-repeat;
		padding-bottom: .4em;
		color: #495C53;
		margin-left: -72px;
		padding-top: 16px;
		padding-left: 72px;
	}

	h1.pageHeading {
		height: 98px;
		line-height: 2em;
		font-size: 2.8em;
		font-weight: normal;
		color: #ffffff;
		background-color: #ffffff;
		padding: 0;
		margin: 0;
	}

		h1.pageHeading img {
			left: 0%;
			top: 0%;
		}
		
		h1.pageHeading div {
			top: 15%;
			padding-left: 24px;
		}


	h2, div.text.subheading {
		background: #ffffff url("images/heading-background.gif") 0px 0px no-repeat;
		padding-bottom: .4em;
		color: #495C53;
		margin-left: -72px;
		padding-top: 16px;
		padding-left: 72px;
	}

div.document, form {
	padding-left: 6em;
}

input.text, textarea {
	border: 1px solid #485C53;
	background-color: #f8f8f8;
}
/*
 * Text styles
 */
div.text.instructional {
	padding: 1.5em 1.5em 1.5em 1.5em;
	margin-left: 0;
	margin-right: 0;
	background: #90a762 url("images/instructional-background.gif") 0px 0px no-repeat;
	color: #000000;
}

div.text.error {
	padding: 1.5em 1.5em 1.5em 1.5em;
	margin-left: 0;
	margin-right: 0;
	background: #a24638 url("images/error-background.gif") 0px 0px no-repeat;
	color: #ffffff;
}

#tawalaProjectContainer {
	width: 770px;
	color: #3c3c3c;
	background-color: #ffffff;
	border: 0px solid #485C53;
}

	#tawalaProjectContainer table {
		color: inherit;
		font-family: inherit;
		font-size: inherit;
	}

#innerTawalaFooter {
	width: 100%;
	height: 44px;
	background-color: #485C53;
}

#tawalaFooterLogo {
	right: 15px;
	top: 7px;	
	width: 173px;
	height: 29px;
	background: url("images/madewithtawala-button.gif") 100% 50% no-repeat;
}

/*
 * Component styles
 */
table.component {
}
	table.component.outline {
		border: 1px solid #aaccaa;				
	}
	
		table.component.outline thead th, tr.heading th {
			border: 1px solid #aaccaa;
			line-height: 1.8em;
		}

	table.component thead, 
	table.component tr.heading th,
	table.component th.leftheading {
		background-color: #485C53;
		color: #ffffff;
	}

	table.component tr {}

		table.component tbody tr.odd{
			background-color: #f0fff0;
		}

		table.component tbody tr.even{
			background-color: #ffffff;
		}

		table.component tbody tr:hover {
			background-color: #e8f8e8;
		}

		table.component.outline tbody td, 
		table.component.outline tbody th{
			border: 1px solid #aaccaa;
			border-top: 1px solid #aaccaa;
		}

	table.component tfoot {
		background-color: #ffffff;
	}
	
		table.component tfoot .legend {
			color:000000;
		}
		
.graph .bar { 
	color: #ffffff; 
	font-size: .9em;
	height: 1.7em; 
	line-height: 1.8em;									
}

	
.graph.color1 { border-color: #485C53; }
	.graph.color1 .bar { background: #485C53; }

.graph.color2 { border-color: #485C53; }
	.graph.color2 .bar { background: #485C53; }

.graph.color3 { border-color:#485C53; }
	.graph.color3 .bar { background: #485C53; }

.graph.color4 { border-color: #485C53; }
	.graph.color4 .bar { background: #485C53; }

.graph.color5 { border-color: #485C53; }
	.graph.color5 .bar { background: #485C53; }

.graph.color6 { border-color: #485C53; }
	.graph.color6 .bar { background: #485C53; }

.graph.color7 { border-color: #485C53; }
	.graph.color7 .bar { background: #485C53; }

.graph.color8 { border-color: #485C53; }
	.graph.color8 .bar { background: #485C53; }

.graph.color9 { border-color: #485C53; }
	.graph.color9 .bar { background: #485C53; }

.graph.color10 { border-color: #485C53; }
	.graph.color10 .bar { background: #485C53; }

.graph.color11 { border-color: #485C53; }
	.graph.color11 .bar { background: #485C53; }

.graph.color12 { border-color: #485C53; }
	.graph.color12 .bar { background: #485C53; }

.graph.color13 { border-color: #485C53 }
	.graph.color13 .bar { background: #485C53; }

.graph.color14 { border-color: #485C53; }
	.graph.color14 .bar { background: #485C53; }

.graph.color15 { border-color: #485C53; }
	.graph.color15 .bar { background: #485C53; }

.graph.color16 { border-color: #485C53; }
	.graph.color16 .bar { background: #485C53; }

/*
 * YUI Datatable overrides
 */
.yui-skin-sam .yui-dt th {
	background-color: #485C53;
	color: #ffffff;
}

.yui-skin-sam .yui-dt th, .yui-skin-sam .yui-dt th a {
	color:#ffffff;
}

.yui-skin-sam th.yui-dt-asc .yui-dt-liner {
	background:transparent url(/images/dt-arrow-up-white.png) no-repeat scroll right center;
}

.yui-skin-sam th.yui-dt-desc .yui-dt-liner {
	background:transparent url(/images/dt-arrow-dn-white.png) no-repeat scroll right center;
}

.yui-skin-sam .yui-dt td {
	border-right: 1px solid #aaccaa;
	border-bottom: 1px solid #aaccaa;
}

.yui-skin-sam .yui-dt-liner {
	color: #000000;
}

/* odd/even row colors when column is selected */
.yui-skin-sam tr.yui-dt-even td.yui-dt-asc, .yui-skin-sam tr.yui-dt-even td.yui-dt-desc {
	background-color:#EDFfF5;
}

.yui-skin-sam tr.yui-dt-odd td.yui-dt-asc, .yui-skin-sam tr.yui-dt-odd td.yui-dt-desc {
	background-color:#DBffea;
}

