body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #bc2021;
    color: #eab693;
}

table {
	color: inherit;
}

h1, h2, h3, h4, h5, h6, div.text.heading, div.text.subHeading {
	color: #ffd057;
}

	h1.pageHeading {
	}
a {
	text-decoration: none;
	color: #ffff44;
}

	a:hover {
		text-decoration: underline;
	}

#tawalaProjectContainer {
    border: 1px solid #ffd057;
    margin-left: auto;
    margin-right: auto;
    background-color: #bc2021;
}

#innerTawalaFooter {
	width: 100%;
	height: 44px;
	background-color: #bc2021;
}

#tawalaFooterLogo {
	right: 15px;
	top: 7px;	
	width: 173px;
	height: 29px;
	background: url("images/madewithtawala-button.gif") 100% 50% no-repeat;
}

/*
 * Text styles
 */
 
div.text.instructional {
	color: #fac6a3;
	background-color: #bc2061;
}

div.text.error {
	color: #ffa0a0;
	background-color: #bc4041;
}

form input {
}

form .submitButton {
    clear: both;
    margin: 36px 0 0 0;
}

#form .submitButton input {
    font-weight: bold;
    Text-transform: capitalize;
    background-color: #fff6db;
    color: #884444;
}

/*
 * Component styles
 */
table.component {
}
	table.component.outline {
		border: 1px solid #aaccaa;				
	}
	
		table.component.outline thead th, tr.heading th {
			border: 1px solid #aaccaa;
			line-height: 1.8em;
		}

	table.component thead, 
	table.component tr.heading th,
	table.component th.leftheading {
		background-color: #891718;
		color: #ffffff;
	}

	table.component tbody {
		color: #3c3c3c;
	}

		table.component tbody tr.odd{
			background-color: #f0e8e0;
		}

		table.component tbody tr.even{
			background-color: #ffffff;
		}

		table.component tbody tr:hover {
			background-color: #e0d8d0;
		}

		table.component.outline tbody td,
		table.component.outline tbody th {
			border: 1px solid #aaccaa;
			border-top: 1px solid #aaccaa;
		}
		
	table.component tfoot {
		background-color: #e0d8d0;
	}

/*
 * YUI Datatable overrides
 */
.yui-skin-sam .yui-dt th {
	background-color: #891718;
	color: #ffffff;
}

.yui-skin-sam .yui-dt th, .yui-skin-sam .yui-dt th a {
	color:#ffffff;
}

.yui-skin-sam .yui-dt-liner {
	color: #000000;
}

/* Standard odd/even row colors */
.yui-skin-sam tr.yui-dt-odd {
	background-color: #ffffff;
}

.yui-skin-sam tr.yui-dt-even {
	background-color: #f0e8e0;
}

/* odd/even row colors when column is selected */
.yui-skin-sam tr.yui-dt-even td.yui-dt-asc, .yui-skin-sam tr.yui-dt-even td.yui-dt-desc {
	background-color:#ffb0b3;
}

.yui-skin-sam tr.yui-dt-odd td.yui-dt-asc, .yui-skin-sam tr.yui-dt-odd td.yui-dt-desc {
	background-color:#ffd0d2;
}

/* paginator attributes */
.yui-skin-sam .yui-pg-container, .yui-skin-sam .yui-dt-paginator {
	color: #444444;
}

.yui-skin-sam .yui-pg-current-page, .yui-skin-sam .yui-dt-paginator .yui-dt-selected {
	background-color:#bc2021;
	border:1px solid #FFFFFF;
}

.yui-skin-sam a.yui-pg-page, .yui-skin-sam a.yui-dt-page {
	background-color:#bc2021;
	border:1px solid #CBCBCB;
}

.yui-skin-sam th.yui-dt-asc .yui-dt-liner {
	background:transparent url(/images/dt-arrow-up-white.png) no-repeat scroll right center;
}
.yui-skin-sam th.yui-dt-desc .yui-dt-liner {
	background:transparent url(/images/dt-arrow-dn-white.png) no-repeat scroll right center;
}
