/*
 * Basic Yelllow theme
 */
body {
	background-color: #ffffd8;
}

#tawalaProjectContainer {
	background-color: #ffffd8;
	border: 1px solid #eeee88;
}

#innerTawalaFooter {
	width: 100%;
	height: 44px;
	text-align: right;
}

#tawalaFooterLogo {
	position: absolute;
	right: 15px;
	top: 7px;	
	width: 244px;
	height: 36px;
	background: url("images/madewithtawala.gif") 100% 50% no-repeat;
}
