body {
	background-color: #e3e8d2;
}

#tawalaProjectContainer {
   	background: white url(images/green-lined-paper.gif) repeat top left;
}

#tawalaFooter {
	width: 170px;
	height: 36px;
	float: right;
	cursor: pointer;
	background: url(images/madewithtawala.gif) right 50% no-repeat;
}
